@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --background-color: #1e1e1e;
  --font-color: #ffffff;
  --button-logo-color: #fd6f00;
  --other-background: #000000;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  list-style-type: none;
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
  .container {
    width: auto;
    padding: 2rem;
  }
}
